@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  /* font-family: "Roboto", sans-serif; */
}
body {
  background-color: #f3f1ff;
}

.first-area {
  margin-bottom: 21px;
  width: 870px;
  border-radius: 5px;
  background: #fff;
  margin: 0 auto;
  margin-bottom: 30px;
}
.top-players-title {
  color: #562eff;
  font-size: 24px;
  font-weight: 500;
  padding: 30px 0 0 30px;
}
.all-player {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  padding: 40px 0 30px 30px;
}
.player {
  display: flex;
  align-items: center;
  gap: 16px;
}
.player-name {
  color: #000;
  font-size: 18px;
  font-weight: 500;
}
.player img {
  width: 56px;
  height: 56px;
}
hr {
  width: 807px;
  margin: 0 auto;
  background: #d1d1d1;
}
/* ------------
blog start
------------------- */
.top-blogs-title {
  color: #562eff;
  font-size: 24px;
  font-weight: 500;
  padding: 30px 0 0 30px;
}
.all-blog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 40px 0 30px 30px;
}
.blog img {
  width: 177px;
  height: 130px;
}
.blog {
  display: flex;
  align-items: center;
  gap: 15px;
}
.blog-title-name {
  color: #000;
  font-size: 20px;
  line-height: 34px;
  font-weight: 500;
  margin-bottom: 8px;
}
.title-author {
  color: #9f9f9f;
  font-size: 16px;
  font-weight: 400;
}
.title-author a {
  text-decoration: none;
}
/* --------------
course start
------------------- */
.second-area {
  margin-bottom: 21px;
  width: 870px;
  border-radius: 5px;
  background: #fff;
  margin: 0 auto;
}
.second-area-title {
  color: #562eff;
  font-size: 24px;
  font-weight: 500;
  padding: 30px 0 0 30px;
}
.all-course {
  display: flex;
  gap: 20px;
  margin-bottom: 100px;
  padding: 30px;
}
.course-container {
  width: 30%;
  /* height: 270px; */
  background-color: #fff;
  filter: drop-shadow(0px 3px 3px #7e7b7b);
  border-radius: 16px;
  padding: 16px 8px;
}
.course img {
  width: 95%;
  height: 104px;
  display: block;
  margin: 0 auto;
}
.course-title {
  color: #1e1e1e;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 6px 8px;
}
.course-desc p {
  color: #ed6b4f;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 8px 6px 8px;
}
.ratting-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6px;
}
.ratting i {
  width: 12.387px;
  height: 11.808px;
  margin-left: 1px;
}
.ratting span {
  margin-left: 7px;
}
.fa-star-fill {
  color: #ffc014;
}
.fa-star-unfill {
  color: #aeaeae;
}

.ratting-hour {
  width: 90px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14.5px;
  background: #ffe4e8;
  padding: 2px;
}
.ratting-hour img {
  width: 20px;
  height: 20px;
}
/*....................... 
          media
 ..........................*/
@media only screen and (max-width: 576px) {
  .title {
    text-align: center;
  }
  .first-area,
  .second-area {
    width: 100%;
  }

  hr {
    width: 100%;
  }
  .all-player {
    grid-template-columns: repeat(1, 1fr);
  }
  /* .player {
    justify-content: center;
  } */
  .player {
    margin: 0 auto;
    width: 50%;
  }
  .all-blog {
    grid-template-columns: repeat(1, 1fr);
    padding: 30px;
  }
  .blog {
    flex-direction: column;
  }

  br {
    content: "";
  }
  .blog-title {
    text-align: center;
  }
  .blog img {
    width: 100%;
    height: auto;
  }
  .title-author {
    margin-bottom: 20px;
  }
  .all-course {
    flex-direction: column;
    align-items: center;
  }
  .course-container {
    width: 95%;
    height: 100%;
  }
  .course-title,
  .course-desc p,
  .ratting-section {
    padding: 8px 12px 8px;
  }
  .ratting-hour {
    width: 98px;
    height: auto;
  }
  .ratting-hour img {
    width: 20px;
    height: 20px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .title {
    text-align: center;
  }
  .first-area,
  .second-area {
    width: 100%;
  }

  hr {
    width: 100%;
  }
  .all-player {
    grid-template-columns: repeat(2, 1fr);
  }

  .player {
    margin: 0 auto;
    width: 50%;
  }
  .all-blog {
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
  }
  .blog {
    flex-direction: column;
  }

  br {
    content: "";
  }
  .blog-title {
    text-align: center;
  }
  .blog img {
    width: 100%;
    height: auto;
  }
  .title-author {
    margin-bottom: 20px;
  }
  .all-course {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .course-container {
    width: 46%;
    height: 100%;
  }
  .course-title,
  .course-desc p,
  .ratting-section {
    padding: 8px 18px 8px;
  }  .ratting-hour {
    width: 108px;
    height: auto;
  }
}
